*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.info{
    border: .5vmin solid #999;
    background-color: #eee;
    width: 30vw;
    height: 10vh;
    position: fixed;
    top:3vh;
    left:35vw;
    font-size: 4vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .1vmin .1vmin 10vmin;
}

.field{
    
    border: .5vmin solid #090;
    width: 80vw;
    height: 70vh;
    position: fixed;
    top:15vh;
    left:10vw; 
    overflow: hidden;
    background-color: #999;
    
}
.bot{
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-image:url("/assets/images/smile-7.png");
    background-size: 5vw;
    transition: 300ms;
    transition-delay: 3ms;
    cursor: pointer;
    
}

.reset{
    display: flex;
    width: 16vw;
    height: 5vh;
    border: .5vmin solid red ;
    border-radius: 1vmin;
    color: red;
    cursor: pointer;
    position: fixed;
    top:8vh;
    left: 72vw;
    font-size: 4vmin;
    align-items: center;
    justify-content: center;
    background-color: #f5e5e5;
}
.reset:hover{
    border: .3vmin solid #a00 ;

    color: #a00;
}